html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 15vh auto 10vh;
  grid-template-areas:
    "header header header header header"
    "sidebar main main main main"
    "footer footer footer footer footer";
  min-height: 100vh;
}

/* Header */
.header {
  display: flex;
  grid-area: header;
  background-color: blueviolet;
  justify-content: space-between !important;
}


/* Styling for all elements inside grid-container */
.grid-container * {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Main section */
.main {
  grid-area: main;
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.section1 {
  grid-column: span 5;
  background-color: brown;
}
.section2 {
  grid-column: span 2;
}
.section3 {
  grid-column: span 3;
}
.section4 {
  grid-column: span 5;
}
.section5 {
  grid-column: span 5;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  background-color: lightgray;
  align-items: start;
}
.sidebar > ol {
  display: grid;
  cursor: pointer;
}

/* Footer */
.footer {
  grid-area: footer;
  background-color: blueviolet;
}

/* Better responsive layout */
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .section3 {
    grid-column: span 4;
  }
  .sidebar {
    display: none;
  }

  .main {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .grid-container * {
    padding: 10px;
  }
}
